Package: com.semvis123.ealogger
Name: EALogger
Version: 1.0.0
Architecture: iphoneos-arm
Description: Simple logger that logs External Accessory traffic
Maintainer: Sem Visscher
Author: Sem Visscher
Section: Tweaks
Depends: mobilesubstrate
