Package: com.semvis123.blelogger
Name: BLELogger
Version: 1.0.0
Architecture: iphoneos-arm
Description: Simple logger that logs Bluetooth Low Energy traffic
Maintainer: Sem Visscher
Author: Sem Visscher
Section: Tweaks
Depends: mobilesubstrate
